#body{
    background: gainsboro;
    margin: 15px;
    text-align: left;
    }
    #header{
    background: rgb(128, 128, 128);
    margin: 5px;
    padding: 1px;
    border-radius: 5px;
    height: auto;
    text-align: left;
    }
    #nav{
    background-color: rgb(69, 189, 189);
    margin: 10px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 5px;
    text-align: initial;
    justify-content: center;
    }
    #space{
    grid-column: 7 / 15;
    }
    #text{
    background-color: rgb(223, 207, 187);
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    }
    #main{
    background-color: gray;
    margin: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto 7fr auto;
    text-align: center;
    }
    #section{
    background-color: rgb(78, 68, 68);
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    grid-row: 2 / 2;
    height: 300px;
    display: grid;
    text-align: left;
    grid-template-rows: 0.1fr auto auto;
    grid-template-columns: repeat(5, 1fr);
    }
    #first-row{
    background: rgb(67, 163, 196);
    margin: 5px;
    padding: 25%;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    grid-row: 2 / 2;
    grid-template-columns: repeat(5, 1fr);
    }
    #second-row{
    text-align: justify;
    margin: 5px;
    padding: 5px;
    grid-row: 3 / 3;
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    }
    #div1{
    background: rgb(67, 163, 196); 
    text-align: center;
    margin: 5px;
    padding: 25%;
    border-radius: 5px;
    grid-column: 2 / 4;
    }
    #div2{
    background: rgb(67, 163, 196); 
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding: 25%;
    grid-column: 8 / 10;
    }
    #aside{
    background-color: white;
    border-radius: 5px;
    display: grid;
    margin: 1em;
    padding: 0.5em;
    grid-row: 1 / 4;
    grid-auto-rows: 0.1fr repeat(5, 1fr);
    grid-template-columns: 1fr;
    }
    #a{
    background-color: rgb(106, 226, 112);
    border-radius: 3px;
    grid-template-columns: 1fr;
    margin: 5px;
    padding: 15%;
    text-align: center;
    }
    #icons{
    background: #f0eeeeab;
    border-radius: 5px;
    grid-row: 3 / 3;
    margin: 0.1em 1em 1em 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    }
    img{
    width: 30%; 
    justify-self: center;
    }
    #footer{
    background-color: gray;
    margin: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    text-align: center;
    }
    